body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
 #container{
     width: 70%;
     padding: 1em;
     text-align: left;
     border: 1px solid #677;
     margin: auto;
 }
 #container{
     font-size: 20px;
 }