body
{
    background: #1e1f24;
    color:#333;
    text-align: center;
    font-family:sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #252222;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
#cabecera
{
    background:#33a;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0.5rem;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1rem;
    font-weight:normal ;
    font-size: 0.8em;
}

 #container{
     font-size: 20px;
 }
 #post
 {
    background: white;
    padding: 1em; 
 }
 #footer
 {
     background:#777;
     color:white;
     text-align:center;
     padding:0.5em;
 }
